@import "../../../styles/abstracts/mixins";

.layout {
	display: flex;
	align-items: center;
}

.control {
	border: none;
	background: 0 0;
	padding-top: 0.2rem;

	cursor: pointer;
}

.icon {
	font-size: 1.4rem;
	cursor: pointer;
}

.input {
	@include input-base;
	width: 0;
	opacity: 0;
	border-left: none;

	outline: none;
	transition: 0.3s ease-out;
}

._focused {
	width: 18rem;
	opacity: 1;
}

._outlined {
	border: var(--border-basic);
	border-right: none;
}
