.headerLayout {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1rem 0;
}

.headerLeft {
	display: flex;
	align-items: center;
	column-gap: 2.5rem;
}

.headerRight {
	display: flex;
	align-items: center;
	column-gap: 2.5rem;
}