.container-layout {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-top: 1rem;
	padding-bottom: 1rem;
}

.left {
	display: flex;
	align-items: center;
	column-gap: 4rem;
}

.logo {
	font-size: 1.3rem;
	cursor: pointer;
}

.right {
	display: flex;
	align-items: center;
	column-gap: 3rem;
}

.profile-icon {
	font-size: 2rem;
	cursor: pointer;
}
