@import "../../../styles/abstracts/mixins";

.layout {
	@include flex-with-gap(1.8rem);
	justify-content: space-between;
}

.column {
	@include flex-col-with-gap(2rem);

	padding-top: 1.8rem;

	&-mid {
		flex: 1;

		padding-top: 2.5rem;
	}

	&-last {
		flex: 1;
		padding-top: 6.93rem;
		row-gap: 0.7rem;
	}
}

.tabs {
	background-color: white !important;
}

.info {
	@include flex-col-with-gap(1rem);

	box-shadow: var(--shadow-basic-right);

	padding: 0.8rem;
	background-color: #f9f9f9;
}

.items {
	@include flex-col-with-gap(1rem);
}
