:root {
	--border-basic: 2.5px solid black;
	--shadow-basic: -4px 4px rgba(0, 0, 0, 0.3);
	--shadow-basic-right: 4px 4px rgba(0, 0, 0, 0.3);
	--transition-basic: 0.3s ease-out;
	--transition-quick: 0.2s ease-out;
	--color-highlight: #ff5c5c;
	--color-highlight-hover: #ff7272;
}
