@import '../../../styles/abstracts/mixins';

.dropdown {
	display: flex;
	flex-direction: column;

	&Items {
		position: absolute;
		top: -1000%;
		left: 0;
	
		display: flex;
		flex-direction: column;
		row-gap: 1rem;
	
		padding: 2rem;	
		max-width: 25vw;
	
		background-color: rgb(205, 205, 205);
		height: 100vh;
	
		transition: all .3s;
	}

	&Item {
		display: flex;
		align-items: center;
		column-gap: 2rem;
	
		cursor: pointer;
	}
}

.icon {
	font-size: 1.6rem;

	&Control {
		font-size: 2rem;
		cursor: pointer;
	}
}

._opened {
	top: 0;
}
