@import "../../../styles/abstracts/mixins";

.avatar {
	@include flex-with-gap-both(1rem, 1rem);
	flex-wrap: wrap;

	& > h3 {
		flex: 1 1 100%;
	}
}

.profile-photo {
	height: 7rem;
	width: 7rem;

	border-radius: 0.2rem;
	background-color: rgb(210, 210, 210);
	border: var(--border-basic);
}

.settings-profile {
	@include flex-col-with-gap(2rem);
	flex: 1;
}

.user {
	&-data {
		@include flex-col-with-gap(1rem);
		flex: 1 1 100%;

		position: relative;
		padding-bottom: 0.5rem; // ПОТОМ УБРАТЬ

		&::after {
			@include line-horizontal;
			margin-bottom: -0.8rem;
		}
	}

	&-input {
		@include flex-col-with-gap(0.5rem);
		max-width: 70%;
	}
}
