*, 
::after,
::before {
	box-sizing: border-box;
}

p, 
ul,
ol {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

body {
	margin: 0;
}

.container {
	max-width: 1024px;
	padding: 0 1rem;
	margin-inline: auto;
	box-sizing: content-box;
}