@import "../../../styles/abstracts/mixins";

.layout {
	@include flex-col-with-gap(2.5rem);
}

.title {
	position: relative;
	padding-top: 2.5rem;

	&::after {
		@include line-horizontal;

		margin-bottom: -0.8rem;
	}
}
