@import "../../../styles/abstracts/mixins";

.layout {
	@include flex-col-with-gap(1.8em);
}

.title {
	position: relative;
	padding-top: 2rem;

	&::after {
		@include line-horizontal;

		margin-bottom: -0.8rem;
	}
}
